:root {
  --primary-color: darkblue;
  --text-light: white;
  --border-color: black;
  --shadow-color: gray;
  --aside-bg: #eee;
  --aside-text: #333;
  --max-width: 840px;
  --img-width: 200px;
}


nav {
  background-color: var(--primary-color);
  padding: 20px
}

nav a {
  color: var(--text-light);
  display: block;
  padding: 10px;
}

h1 {
  color: var(--primary-color);
}


main {
  max-width: var(--max-width);
  margin: 0 auto;
}

main img {
  width: var(--img-width);
  height: auto;
  border: 1px solid var(--border-color);
  padding: 2px;
  box-shadow: 0 0 30px var(--shadow-color);
}


aside {
  width: 20em;
  margin: 1em;
  border: 1px solid rgb(0, 0, 0, 0.2);
  /*  */
  padding: 1em;
  background-color: var(--aside-bg);
  color: var(--aside-text);
  text-align: center;
}

aside img {
  width: var(--img-width);
  height: auto;

}


p {
  padding: 0;
}

footer {
  margin-top: 1em;
  border-top: 1px solid var(--border-color);
  text-align: center;
}